.doi{
    position: relative;
    height: 97vh;
    width: 100%;
}
.rules{
    background: #dbdada56;
    position: absolute;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: inherit;
    height: inherit;
    z-index: 999;
}
.rul{
    background: white;
    padding: 20px 30px 20px 30px;
    text-align: justify;
    border-radius: 10px 10px 0 0;
}
.gamebg{
    padding: 80px 20px 2px 20px;
    text-align: center;
}
input{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 10px 15px #d3cfcfa2;
    font-size: 20px;
    letter-spacing: 5px;
}
#grn{
    background: rgb(31, 128, 31);
    border: none;
    border-radius: 10px;
    color: #fff;
}
#rdd{
    background: #803434;
    border: none;
    border-radius: 10px;
    color: #fff;
}
.box{
    height: 20vh;
    margin-bottom: 5px;
    overflow: scroll;
}
.chek{
    margin: 20px auto;
    position: sticky;
    position: -webkit-sticky;
    bottom: 20px;
    width: 80%;
}
.chek button{
    padding: 15px 20px;
    margin: 10px;
    border-radius: 5px;
    background: black;
    color: #fff;
    border: none;
    box-shadow: 3px 5px #dbdada56;
    -webkit-box-shadow:3px 5px #dbdada56;
}
.chek button:disabled{
    background: #534848;
}
.kkey{
    padding: 30px 30px;
    margin: 2px;
}

/*///////////.rul{
    position: fixed;
    width: 90%;
    bottom: 10px;
    box-shadow: 2px 2px 5px #888888;
    background: #fff;
    font-size: 20px;
    padding-right: 10px;
    z-index: 3;
}////////////////////////////////////////////////////////////////////////////*/
